.clock-main {
  margin: 0 auto;
  position: relative;
  top: 40px;
  left: 80px;
}

.clock-start {
  color: #e65100;
  font-size: 32px;
  cursor: pointer;
  position: relative;
  left: 30px;
}

.clock-time {
  font-size: 30px;
}